<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Principal</title>
    <link id="theme-style" rel="stylesheet" href="../static/css/store.css">
</head>
<body>    
    <img src="/static/images/logo_misionTic.png" class="imgLogo">
    <h1>Gestión de Productos</h1>

    <header class="header text-center">	    
        <h1 class="titulo">Cafetería Aroma</h1>
        <div>
            <img src="../static/images/tazacafe.png" class="imgLogo1">
        </div>
        <hr>

	    <nav>   

			<div id="navigation">
                <h3 class="descripciónPagina">--   Administrador   --</h3>
                <div class="descripciónPagina">En esta página puedes administrar la tienda, creación, actualización y eliminación de Usuarios y Productos</div> 
                
            </div></br> <hr> 
            
            <div class="descripciónPagina">Funcionalidades</div></br>
				
            <a href="{{ url_for('register') }}" class="login-forgot-pass">1. Crear nuevo Perfil</a> </br></br>
            <a href="{{ url_for('registerProduct') }}" class="login-forgot-pass">2. Crear Producto</a>

            </br></br> <hr> 

            <div class="descripciónPagina">Navegación</div></br>

            <a href="{{ url_for('logout') }}"  class="login-forgot-pass">* Cerrar sesión</a>
            </br></br>
            <a href="{{ url_for('logout') }}"  class="login-forgot-pass">* Ingresar como Usuario</a>
            
            </br></br> <hr>    
        </nav>
    </header>
    
    <h2>Buscador de productos</h2>
    <input class="buscador" placeholder="Ingrese el nombre del producto"></input>
    <button class="botonBuscador">Buscar</button>
    
    <div class="main-wrapper" >	    
	    <section class="blog-list px-3 py-5 p-md-5" >
            {% for product in products%}
                <hr> <div class="container" >
                    <div class="item mb-5">
                        <div class="media">
                            <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{product.4}}" alt="image" style="height: 150px">
                            <div class="media-body">
                                <h3 class="title">{{product.1}}</h3>
                                <div class="intro">{{product.3}}</div><br />
                                <label class="meta" for="Inventario_actual" >Inventario actual: {{product.2}}</label>
                                
                                <a href= "/admin/editProduct/{{product.0}}/"><button class="botonAtualizarInventario">Actualizar producto</button></a>
                                <a href= "/deleteProduct/{{product.0}}/" ><button class="botonAtualizarInventario" clas ="btn-delete">Borrar Producto</button></a>
                                <br />
                            </div>
                        </div>
                    </div>                    
                </div>
            {% endfor %}
	    </section>	    
	        
    </div><!--//main-wrapper-->


    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <footer class="footer text-center py-2 theme-bg-dark">	   	    
        <small class="copyright">Diseñado con <i style="color: #ff0000;"> Amor </i> by developers MisionTic2022 GrupoF UniNorte</small>    
    </footer>

</body>
</html>