<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar producto</title>
    <link rel="stylesheet" type="text/css" href="../static/css/store.css" /> 
</head>
<body>
    <div class="login">
    <h1>Editar Producto</h1>
    <section class="messageRegister">
        {% for message in get_flashed_messages()%}
            <div class="messageRegister">{{ message}}</div>
        {% endfor %}
        </br>
    </section>
    <section>
    <form method="post" enctype="multipart/form-data" action="updateProduct/{{ product.0 }}"></form>
         <link rel="stylesheet" type="text/css" href="../static/css/post.css" /> 
         <img src="../static/images/logo_misionTic.png" class="imgLogo"  alt=""> 
        <input type="text" name="np" placeholder="Nombre del producto" value = "{{ product.1 }}" />
        <input type="text" name="dp" placeholder="Descripción del producto" value = "{{ product.3 }}" />
        <input type="text" name="cp" placeholder ="{{ product.2 }}" />
         
        <!-- <input type="file" name="imagenp" id ="selprod" accept="image/png"> -->

        <button type="submit" class="btn btn-primary btn-block btn-large">Actualizar producto</button>
    </form>
    </section>
    </div>
</body>
</html>