<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reestablecer Contraseña XD</title>
    <link rel="stylesheet" type="text/css" href="../static/css/post.css" /> 
    <script src="../static/js/validacion.js"></script>
</head>
<body>

    <div class="login">
        <header>
            <div>
                <h1>Recuperar Contraseña</h1>
            </div>                
        </header>

        <section class="messageRegister">
            <!-- {% for message in get_flashed_messages()%} -->
                <div class="messageRegistera">{{message}}</div>
            <!-- {% endfor %} -->
            </br>
        </section>

        <section>
            <form name="formulario2" method="post"  action="{{ url_for('revision') }}">
                <img src="../static/images/logo_misionTic.png" class="imgLogo"  alt=""> 
                <input type="text" name="usuario" placeholder="Usuario" required="required" />
                <input type="text" name="email" placeholder="Email" required="required" />
                <input type="password" name="password" placeholder="Nueva contraseña" required="required" />
                <input type="password" name="reviewPassword" placeholder="Confirmar contraseña" required="required" />
                <button type="submit" class="btn btn-primary btn-block btn-large">Recuperar.</button>
            </form>
         </section>  
    </div>
</body>
</html>
