<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar nuevo producto</title>
    <link rel="stylesheet" type="text/css" href="../static/css/post.css" /> 
    <link rel="stylesheet" type="text/css" href="../static/css/post.css" /> 
    <script src="../static/js/validacion.js"></script>

</head>
<body>

    <div class="login">
    <h1>Registro Nuevo Producto</h1>
    <section class="messageRegister">
        {% for message in get_flashed_messages()%}
            <div class="messageRegister">{{ message}}</div>
        {% endfor %}
        </br>
    </section>
    <section>
    <form method="post" enctype="multipart/form-data" action="{{ url_for('registerProduct') }}">
        
        <img src="../static/images/logo_misionTic.png" class="imgLogo"  alt=""> 
        <input type="text" name="np" placeholder="Nombre del producto" required="required" />
        <input type="text" name="dp" placeholder="Descripción del producto" required="required" />
        <input type="text" name="cp" placeholder="Cantidad del producto" required="required" />
         
        <input type="file" name="imagenp" id ="selprod" accept="image/png">

        <button type="submit" class="btn btn-primary btn-block btn-large">Registrar nuevo producto</button>
    </form>
    </section>
    </div>
</body>
</html>